<div class="container">
  <h1 class="my-4">Login</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Login
      </button>
    </div>
  </form>
</div>
