<div class="container">
  <h1 class="my-4">{{ id ? "Editar" : "Cadastrar" }} produto</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Preço</mat-label>
          <input type="number" matInput formControlName="price" />
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Quantidade</mat-label>
          <input type="number" matInput formControlName="qty" />
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field appearance="outline">
          <mat-label>Imagem</mat-label>
          <input matInput formControlName="image" />
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <button mat-flat-button color="primary" [disabled]="form.invalid">
          Salvar
        </button>
        <button
          class="mx-3"
          mat-flat-button
          color="warn"
          (click)="cancelForm()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
