<div class="container">
  <h1 class="my-4">Cadastrar Usuário</h1>

  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Profissão</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Confirmação de senha</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Renda</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </div>
</div>
