<div class="container">
  <h1 class="my-4 text-center">Cadastrar Usuário</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Dados Pessoais</legend>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Profissão</mat-label>
            <input matInput formControlName="profession" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput formControlName="birthDate" mask="00/00/0000" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input
              matInput
              formControlName="documentNumber"
              mask="000.000.000-00"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="phone" mask="(00) 00000-0000" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Confirmação de senha</mat-label>
            <input type="password" matInput formControlName="passwordConfirm" />
          </mat-form-field>
        </div>
      </div>
    </fieldset>

    <fieldset formGroupName="address">
      <legend>Endereço</legend>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <input
              matInput
              formControlName="zipCode"
              (blur)="fetchAddress()"
              mask="00000-000"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Rua</mat-label>
            <input matInput formControlName="street" />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input
              type="number"
              type="number"
              matInput
              formControlName="number"
            />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Complemento</mat-label>
            <input matInput formControlName="complement" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput formControlName="neighborhood" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput formControlName="city" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>UF</mat-label>
            <input matInput formControlName="state" />
          </mat-form-field>
        </div>
      </div>
    </fieldset>

    <div class="col-md-12">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Cadastrar
      </button>
      <button
        class="mx-3"
        mat-flat-button
        color="warn"
        type="button"
        (click)="cancelForm()"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
